@charset "utf-8";

.btn_calc {
  display: block;
  background-image: url(https://chunithm-net.com/mobile/common/images/honor_bg_silver.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 380px;
  height: 42px;
  padding: 8px 10px;
  position: relative;
  text-align: center;
  color: #000;
  font-weight: bolder;
  overflow: hidden;
  opacity: 1.0;
}

.btn_calc :hovor{
  opacity: 0.6;
}

.btn_calc_back {
  display: block;
//  background: #000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px
}

.maxChain {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
  text-shadow: 
    1px 1px 0 #ffc600,
    -1px 1px 0 #ffc600,
    1px -1px 0 #ffc600,
    -1px -1px 0 #ffc600;
  color: #ffffff;
  font-weight: bolder; 
  letter-spacing: 2px;
}

.btn_show {
  display: inline-block;
  background-color: #FFF;
  color: #000;
  border-radius: 2px;
  padding: 1px 1px 1px 1px;
  letter-spacing: 1px;
  text-align: left;
  position: static;
}