@charset "utf-8";

.btn_calc {
  display: block;
  background-image: url(https://chunithm-net.com/mobile/common/images/honor_bg_silver.png);
  background-repeat: no-repeat;
  opacity: 1.0;
  width: 100%;
  text-align: center;
  position absolute;
}

.btn_calc:hover{
  opacity: 0.7;
}

.btn_calc_back {
  display: block;
//  background: #000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px
}

.maxChain {
  display: inline-block;
  padding: 2px 4px 4px 2px;
  border-radius: 3px;
  text-shadow: 
    1px 1px 0 rgba(255, 255, 255, 0.4),
    -1px 1px 0 rgba(255, 255, 255, 0.4),
    1px -1px 0 rgba(255, 255, 255, 0.4),
    -1px -1px 0 rgba(255, 255, 255, 0.4);
  font-weight: bolder; 
}
